*.swp
*.swo
__pycache__
python/LiteExpr.interp
python/LiteExpr.tokens
python/LiteExprLexer.interp
python/LiteExprLexer.py
python/LiteExprLexer.tokens
python/LiteExprListener.py
python/LiteExprParser.py

